.logocontainer{
    height: 120px;
    background-image: url(../img/pattern.png);
    background-color: lightblue;
}

#logo{
    height: 50px;
    margin-top: 60px;
    margin-left: 5px;
}

#titolo{
    font-size: 50px;
}

#greypara{
    color: grey;
    font-size: 20px;
}

#booleaner{
    color: blue;
}

.imgcontainer{
    width: 100%;
    margin-top: 20px;
}

#img{
    width: 750px;
    height: 470px;
}

#img1 {
    width: 600px;
}

.text{
    background-color: yellow;
}

ul{
    margin-top: 40px;
}