.logocontainer{
    height: 120px;
    background-image: url(../img/pattern.png);
    background-color: lightblue;
}

#logo{
    height: 50px;
    margin-top: 60px;
    margin-left: 5px;
}

#titolo{
    font-size: 50px;
}

#greypara{
    color: grey;
    font-size: 20px;
}

#booleaner{
    color: blue;
}