.logocontainer{
    height: 120px;
    background-image: url(../img/pattern.png);
    background-color: lightblue;
}

#logo{
    height: 50px;
    margin-top: 60px;
    margin-left: 5px;
}

#titolo{
    font-size: 50px;
}

.grey{
    color: grey;
    font-size: 20px;
}

#booleaner{
    color: blue;
}

.imgcontainer{
    width: 100%;
    margin-top: 20px;
}

#img{
    width: 800px;
    height: 470px;
}

#img1 {
    width: 650px;
    height: 470px;
}

.description{
    font-size: 12px;
}

.text{
    background-color: yellow;
}

.list{
    margin-top: 40px;
    
}

.tablecontainer{
    width: 100%;
    margin-top: 50px;
}

thead{
    background-color: blue;
    color: white;
}

th{
text-align: left}

#third{
    width: 50%;
}

.bluerow{
    background-color: lightblue;
}

.paracontainer{
    margin-top: 30px;
}

.advice{
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
}

.advice2{
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
}

#adtext{
    color: white;
    font-size: large;
    font-weight: bold;
    line-height: 50px;
    margin-left: 70px;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

#adtext:hover{
    font-size: larger;
}